body{
	background: #A0D5B3;
}
@font-face{
	font-family: titulos;
	src:url(fuente/LemonFriday.ttf);
}
@font-face{
	font-family: contenido;
	src:url(fuente/ARCO.ttf);
}
.titulo1{
	font-family: titulos;
	font-size: 30px;
	background: #733603;
	color: #ffff;
	margin-top: 0px;
	border-radius: 7px;
}
.titulo2{
	font-family: titulos;
	font-size: 30px;
	background: #733603;
	color: #ffff;
	margin-top: 0px;
	border-radius: 7px;
}
.titulo3{
	font-family: titulos;
	font-size: 30px;
	background: #733603;
	color: #ffff;
	margin-top: 0px;
	border-radius: 7px;
}
.titulo4{
	font-family: titulos;
	font-size: 30px;
	background: #733603;
	color: #ffff;
	margin-top: 0px;
}
.titulo5{
	font-family: titulos;
	font-size: 30px;
	background: #733603;
	color: #ffff;
	margin-top: 0px;
}
.titulo6{
	font-family: titulos;
	font-size: 30px;
	background: #733603;
	color: #ffff;
	margin-top: 0px;
}
.icon-facebook{
	font-size: 30px;
	color: #032873;
}
.icon-twitter{
	font-size: 30px;
	color: #2FB3D1;
}
.icon-instagram{
	font-size: 30px;
	color: #DF2B0E;
}
.cabecera{
	background: #3D402F;
	text-align: center;
	font-size: 30px;
	width: 75%;
	height: 200px;
	margin: 0px auto;
	color: #FFFFFF;
}
.contenedor1{
	width: 75%;
	height: 300px;
	background: #A23A3A;
	margin: 0px auto;
}
.contenedor2{
	width: 75%;
	height: 300px;
	background: #A23A3A;
	margin: 0px auto;
}
.barramenu{
	width: 75%;
	height: 60px;
	background: #E0E318;
	margin: 0px auto;
	border-radius: 15px;
}
.caja1{
	width: 35%;
	height: 300px;
	background: #F29D9D;
	float: left;
	font-family: contenido;
}
.caja2{
	width: 33%;
	height: 300px;
	background: #F2DD9D;
	float: left;
	font-family: contenido;
}
.caja3{
	width: 32%;
	height: 300px;
	background: #E1F29D;
	float: left;
	font-family: contenido;
}
.img1{

	width: 300px;
	height: auto;
	border-radius: 10px;
}
.img2{

	width: 300px;
	height: auto;
	border-radius: 10px;
}
.img3{

	width: 300px;
	height: auto;
	border-radius: 10px;
}

.caja4{
	width: 35%;
	height: 350px;
	background: #F29D9D;
	float: left;
	font-family: contenido;
}
.caja5{
	width: 33%;
	height: 350px;
	background: #F2DD9D;
	float: left;
	font-family: contenido;
}
.caja6{
	width: 32%;
	height: 350px;
	background: #E1F29D;
	float: left;
	font-family: contenido;
}
.img4{
	width: 300px;
	height: auto;
	border-radius: 10px;
}
.img5{
	width: 300px;
	height: auto;
	border-radius: 10px;
}
.img6{
	width: 300px;
	height: auto;
	border-radius: 10px;
}
.piepagina{
	background: #159D70;
	width: 75%;
	height: 100px;
	margin: 0px auto;
	text-align: center;
	color: #ffff;
}

@media screen and (max-width: 900px){

	body{
		background: green;
	}

	.caja1{
		width: 100%;
	}
	.caja2{
		width: 100%;
	}
	.caja3{
		width: 100%;
	}
	.caja4{
		width: 100%;
	}
	.caja5{
		width: 100%;
	}
	.caja6{
		width: 100%;
	}
}
@media screen and (max-width: 1200px){
	body{
		background: black;
	}

	.caja1{
		width: 100%;
	}
	.caja2{
		width: 100%;
	}
	.caja3{
		width: 100%;
	}
	.caja4{
		width: 100%;
	}
	.caja5{
		width: 100%;
	}
	.caja6{
		width: 100%;
	}
	.piepagina{
		width: 100%;
		float: left;	
	}
}