@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hsnphi');
  src:  url('fonts/icomoon.eot?hsnphi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hsnphi') format('truetype'),
    url('fonts/icomoon.woff?hsnphi') format('woff'),
    url('fonts/icomoon.svg?hsnphi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-phone:before {
  content: "\e942";
}
.icon-users:before {
  content: "\e972";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
